.img-width {
    width: 400px;
}

.previewDiv {
    display: flex;
    flex-direction: column;
}
h1,  h5 {
    color: #fff !important;
}

.galleryBtnColor {
    background-color: #f4b315;
    color: #6c0102;
}

.pin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .pin-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .pin-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .pin-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  